<div id="profile-toolbar">
    <div id="toggle">
        <a on-click="toggle('is_open')">{{ user.name != "" ? user.name : "Log-In" }}</a>
    </div>

    {{#if is_open}}
        <div id="panel">
            {{#if show_error}}
                <strong>Username or password is incorrect</strong>
            {{/if}}
            {{#if is_logged_in}}
                {{#if user.group == "admin"}}
                {{/if}}
                <button class="pure-button" on-click="log_out()">Log-out</button>
            {{else}}
                <form class="pure-form pure-form-stacked">
                    <input placeholder="Jammer Name" value="{{new_username}}">
                    <input type="password" placeholder="Password" value="{{new_password}}">
                </form>
                <button class="pure-button" on-click="log_in()">Log-in</button>
            {{/if}}
        </div>
    {{/if}}
</div>



<style>
    #profile-toolbar {
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
    }
    #toggle {
        display: inline-block;
        padding: 10px;
        background-color: #bbb;
        margin-left: auto;
    }
    #panel {
        background-color: #bbb;
        padding: 10px;
    }
    a {
        cursor: pointer;
        user-select: none;
    }
</style>



<script>
    component.exports = {
        data: {
            is_open: false,
            show_error: false,
            is_logged_in: false,
            new_username: '',
            new_password: ''
        },
        oninit: function() {
            this.set( 'is_logged_in', this.get("user.name") != "" )
        },
        onchange: function(changes) {
            if ( 'is_open' in changes && changes['is_open'] === false ) {
                this.set('show_error', false);
            }
        },
        log_in: function() {
            var that = this;
            superagent.post("/login")
            .send({
                name: this.get('new_username'),
                password: this.get('new_password')
            })
            .end( function(error, response) {
                if ( !error ) {
                    that.set('user', JSON.parse( response.text ) )
                    that.set('is_logged_in', true)
                    that.set('is_open', false)
                }
                else {
                    that.set('show_error', true)
                }
            });
        },
        log_out: function() {
            var that = this;
            superagent.delete("/login")
            .end( function(error, response) {
                if ( !error ) {
                    that.set('user.name', '')
                    that.set('is_logged_in', false)
                    that.set('is_open', false)
                }
            });
        }
    }
</script>
