<link rel='ractive' href='./global/profile-toolbar.html'>
<link rel='ractive' href='./global/notifier.html'>
<link rel='ractive' href='./admin/events-panel.html'>

<profile-toolbar />
<notifier />

<div id="body">
    <h1>Admin</h1>
    <div id="control-panel">
        <div id="panel-select">
            <a  class="{{ active_panel == 'events' ? 'active' : '' }}">Events<a>
        </div>
        <div id="control-area">
            {{#if active_panel == 'events'}}
                <events-panel />
            {{/if}}
        </div>
    </div>
</div>



<style>
    #body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #control-panel {
        background-color: #ddd;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    #panel-select {
        width: 200px;
    }
    #panel-select a {
        display: inline-block;
        font-size: 26px;
        font-weight: bold;
        padding: 10px;
        user-select: none;
        cursor: pointer;
        width: 100%;
    }
    #panel-select a.active {
        background-color: #eee;
    }
    #control-area {
        background-color: #eee;
        flex-grow: 1;
        padding: 20px;
    }
</style>
