<link rel='ractive' href='../global/validated-form.html'>

<validated-form buttonContents="<i class='fa fa-plus'></i> Add Event">
    <input placeholder="Event Name" value="{{form.name}}">
    <span>Cover Image </span><input type="file" id="cover-image" value="{{form.cover_image}}">
    <img src="{{cover_image_rendered}}">
    <input placeholder="Start Time" value="{{form.start}}" type="datetime-local" class="error {{get_error('start') ? 'invalid' : ''}}"> <span class="error">{{get_error('start') ? get_error('start') : '' }}</span>
    <input placeholder="End Time" value="{{form.end}}" type="datetime-local" class="error {{get_error('end') ? 'invalid' : ''}}"> <span class="error">{{get_error('end') ? get_error('end') : '' }}</span>
    <textarea class="headline" placeholder="Headline" value="{{form.headline}}"></textarea>
    <div>
        <div class="tab {{ description_tab == 'markdown' ? 'active' : '' }}" on-click="set('description_tab', 'markdown')">Markdown</div>
        <div class="tab {{ description_tab == 'rendered' ? 'active' : '' }}" on-click="set('description_tab', 'rendered')">Rendered</div>

        {{#if description_tab == 'markdown'}}
            <textarea class="description" placeholder="Description" value={{form.description}}></textarea>
        {{else}}
            <div class="description-rendered">
                {{{description_rendered}}}
            </div>
        {{/if}}
    </div>
</validated-form>




<style>
    input {
        width: 250px;
    }
    textarea {
        width: 500px;
        resize: none;
    }
    .headline {
        height: 4em;
    }
    .description {
        height: 12em;
        margin-top: 0px;
    }
    .tab {
        display: inline-block;
        width: 100px;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
        font-variant: small-caps;
        user-select: none;
        cursor: pointer;
    }
    .tab.active {
        border-bottom: 2px solid black;
    }
    .description-rendered {
        background-color: white;
        width: 100%;
        padding: 10px;
    }
    .invalid {
        border-color: red !important;
    }
    span.error {
        color: red;
    }
</style>



<script>
    component.exports = {
        data: {
            form: {
                name: '',
                start: '',
                end: '',
                headline: '',
                description: '',
                cover_image: null
            },

            cover_image_rendered: null,
            cover_image_encoded: null,
            description_rendered: null,
            description_tab: 'markdown'
        },

        onchange: function(changes) {
            if ( 'form.description' in changes ) {
                this.set( 'description_rendered', markdown.toHTML( changes['form.description'] ) )
            }
            if ( 'form.cover_image' in changes ) {
                var that = this;

                RGJ.helpers.render_image( changes['form.cover_image'][0], function(result) {
                    that.set('cover_image_rendered', result);
                } );
                RGJ.helpers.encode_file( changes['form.cover_image'][0], function(result) {
                    that.set('cover_image_encoded', result);
                } );
            }
        },

        submit: function() {
            var data = {
                name: this.get('form.name'),
                cover_image: this.get('cover_image_encoded'),
                start: Date.parse( this.get('form.start') ),
                end: Date.parse( this.get('form.end') ),
                headline: this.get('form.headline'),
                description: this.get('form.description')
            }

            superagent.post('/admin/events')
            .send(data)
            .end( function( error, response ) {

            });
        },

        validate: function() {
            var form = this.get('form');

            var is_valid = true;
            var validation_errors = {}
            for ( var item in form ) {
                if ( form[item] === null || form[item] === '' ) {
                    is_valid = false;
                }

                if ( ['start', 'end'].indexOf(item) != -1 ) {
                    if ( form[item] && isNaN( Date.parse( form[item] ) ) ) {
                        is_valid = false;
                        validation_errors[item] = "Can't Parse Datetime";
                    }
                }
            }

            this.set('is_valid', is_valid);
            this.set('validation_errors', validation_errors);
        }
    }
</script>
