{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}

{% block loader %}
    {{ super() }}
    <script src="static/apps/admin.js"></script>
    <script>
		RGJ.app = new RactiveApp({
			el: 'body',
            data: {
                user: {
                    name: "{{user.name}}",
                    group: "{{user.group}}"
                },

                active_panel: 'events'
            }
		});
	</script>
{% endblock %}
