body
{
	background-color: #f8f8f8;
	background-image: url("images/bg.png");
	background-attachment: fixed;
	margin: 0;
}

.header
{
	display: block;
	position: fixed;
	margin: 0;
	width: 100%;
	height: 40px;
	background-color: #fff;
	color: #ddd;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	z-index: 999;
	font-family: monospace;
}

div.header>p
{
	margin: 10px;
}

.footer
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #fff;
	color: #ddd;
    font-family: monospace;
	font-size: small;
	text-align: right;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	z-index: 999;
}

div.footer>p
{
	margin: 10px
}

.card
{
	display: block;
	width: 600px;
	margin: 60px auto;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.card_img
{
	margin: 0px;
	background-color: #000;
	background-image: url("images/dark_checker_bg.png");
}

div.card_img>img
{
	display: block;
	max-width: 600px;
	max-height: 300px;
	margin: 0px auto;
}

.card_info
{
	padding: 20px 20px;
    font-family: monospace;
}

div.card_info>p
{
	white-space: pre-wrap;
}

.more_info
{
	margin: -20px 20px;
    font-family: monospace;
	text-align: right;
	padding-bottom: 1px;
}

div.more_info>p
{
	white-space: pre-wrap;
}

.thumbnails
{
	padding: 0;
	background-image: url("images/checker_bg.png");
}

.thumbnails:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.thumbnail 
{
	background: #000;
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

div.thumbnail>img 
{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%,-50%);
	opacity: 0.5;
	transition: all .1s linear;
}

div.thumbnail:hover>img
{
	top: 40%;
	opacity: 1.0;
}

div.thumbnail>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.thumbnail:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

.bspacer20
{
	margin: 10px;
	visibility: hidden;
}

/*--EVENTS-------------------*/

.upcoming_event
{
	margin: 0px;
	background-color: #000;
	float: left;
	position: relative;
	left: 0;
	width: 600px;
	height: 222px;
	overflow: hidden;
}

div.upcoming_event>img
{
	display: block;
	max-width: 600px;
	margin: 0px auto;
}

div.upcoming_event>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.upcoming_event:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

.previous_event
{
	margin: 0px;
	background-color: #000;
	float: left;
	position: relative;
	width: 300px;
	height: 111px;
	overflow: hidden;
}

div.previous_event>img
{
	display: block;
	float: left;
	max-width: 300px;
	margin: 0px auto;
	opacity: 0.5;
	transition: all .1s linear;
}

div.previous_event:hover>img
{
	opacity: 1.0;
}

div.previous_event>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.previous_event:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

.upcoming_date
{
	position: absolute;
	left: 15;
	top: 15;
	width: 85px;
	max-height: 85px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: -20px;
	background-image: url("images/date_bg.png");
	background-color: red;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
	transition: all .1s linear;
	color: #fff;
}

div.upcoming_event:hover>.upcoming_date
{
	background-color: white;
	color: #666;
	top: 10;
	left: 10;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
}

div.upcoming_date>h1
{
	font-family: monospace;
	text-align: center;
	line-height: 5px;
}

div.upcoming_date>h2
{
	font-family: monospace;
	text-align: center;
	line-height: 5px;
}

/*--FRONT PAGE LINKS---------*/

.link_resources
{
	padding: 0;
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	overflow: hidden;
	background-color: #fff;
	background-image: url("images/link_resources.png");
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center;
}

div.link_resources:hover
{
	background-image: url("images/link_resources.gif");
	background-color: #ef0;
}

.link_about
{
	padding: 0;
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	overflow: hidden;
	background-color: #fff;
	background-image: url("images/link_about.png");
	background-size: 180px 180px;
	background-repeat: no-repeat;
	background-position: center;
}

div.link_about:hover
{
	background-image: url("images/link_about.gif");
	background-color: #27f;
}

.link_donate
{
	padding: 0;
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	overflow: hidden;
	background-color: #fff;
	background-image: url("images/link_donate.png");
	background-size: 150px 150px;
	background-repeat: no-repeat;
	background-position: center;
}

div.link_donate:hover
{
	background-image: url("images/link_donate.gif");
	background-color: #f26;
}

div.link_resources>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.link_resources:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

div.link_about>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.link_about:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

div.link_donate>p 
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	font-family: monospace;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.link_donate:hover>p
{
	bottom: 0;
	opacity: 1.0;
}

/*--LINKS--------------------*/

a:link
{
	text-decoration: none;
	color: #f92672;
}

a:visited
{
	text-decoration: none;
	color: #ae2672;
}

a:hover
{
	text-decoration: none;
	background-color: #f92672;
	color: #ffff00;
}

a:active
{
	text-decoration: none;
	background-color: #ae2672;
	color: #fff;
}
