* {
	font-family: monospace;
}

body {
	background-color: #f8f8f8;
	background-image: url("images/bg.png");
	background-attachment: fixed;
	margin: 0;
}

.header {
	display: block;
	position: fixed;
	margin: 0;
	width: 100%;
	background-color: #fff;
	color: #ddd;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	z-index: 999;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #fff;
}

.header li {
    float: left;
}

.logo {
	position: fixed;
	right: 20px;
	bottom: 54px;
	z-index: -1000;
}

.header li a {
    display: block;
    text-align: center;
	padding: 15px;
    text-decoration: none;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #fff;
	color: #ddd;
	font-size: small;
	text-align: right;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	z-index: 999;
}

div.footer>p {
	margin: 10px
}

.card {
	display: block;
	width: 600px;
	margin: 60px auto;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.card_img {
	margin: 0px;
	background-color: #000;
	background-image: url("images/dark_checker_bg.png");
}

div.card_img>img {
	display: block;
	max-width: 600px;
	max-height: 300px;
	margin: 0px auto;
}

.card_info {
	padding: 20px 20px;
}

div.card_info>p {
	white-space: pre-wrap;
}

.more_info {
	margin: -20px 20px;
	text-align: right;
	padding-bottom: 1px;
}

div.more_info>p {
	white-space: pre-wrap;
}

.thumbnails {
	padding: 0;
	background-image: url("images/checker_bg.png");
}

.thumbnails:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.thumbnail {
	background: #000;
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

div.thumbnail>img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%,-50%);
	opacity: 0.5;
	transition: all .1s linear;
}

div.thumbnail:hover>img {
	top: 40%;
	opacity: 1.0;
}

div.thumbnail>p {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.thumbnail:hover>p {
	bottom: 0;
	opacity: 1.0;
}

.bspacer20 {
	margin: 10px;
	visibility: hidden;
}

/*--EVENTS-------------------*/

.upcoming_event {
	margin: 0px;
	background-color: #000;
	float: left;
	position: relative;
	left: 0;
	width: 600px;
	height: 222px;
	overflow: hidden;
}

div.upcoming_event>img {
	display: block;
	max-width: 600px;
	margin: 0px auto;
}

div.upcoming_event>p {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.upcoming_event:hover>p {
	bottom: 0;
	opacity: 1.0;
}

.previous_event {
	margin: 0px;
	background-color: #000;
	float: left;
	position: relative;
	width: 300px;
	height: 111px;
	overflow: hidden;
}

div.previous_event>img {
	display: block;
	float: left;
	max-width: 300px;
	margin: 0px auto;
	opacity: 0.5;
	transition: all .1s linear;
}

div.previous_event:hover>img {
	opacity: 1.0;
}

div.previous_event>p {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	opacity: 0.0;
	white-space: pre;
	overflow: hidden;
	background: #000;
	color: #fff;
	transition: all .1s linear;
}

div.previous_event:hover>p {
	bottom: 0;
	opacity: 1.0;
}

.upcoming_date {
	position: absolute;
	left: 15;
	top: 15;
	width: 85px;
	max-height: 85px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: -20px;
	background-image: url("images/date_bg.png");
	background-color: red;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
	transition: all .1s linear;
	color: #fff;
}

div.upcoming_event:hover>.upcoming_date {
	background-color: white;
	color: #666;
	top: 10;
	left: 10;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
}

div.upcoming_date>h1 {
	text-align: center;
	line-height: 5px;
}

div.upcoming_date>h2 {
	text-align: center;
	line-height: 5px;
}

/*--FRONT PAGE FEATURES------*/

.features {
	width: 600px;
	margin: -50px auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.features ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #fff;
}

.features li {
    float: left;
	font-size: large;
}

.features li a {
    display: block;
    text-align: center;
	width: 160px;
    padding: 20px 20px;
    text-decoration: none;
}

.features li img {
	position: relative;
	right: 5;
	top: 2.5;
	visibility: hidden;
}

.features:hover li img {
	visibility: visible;
}

/*--EVENT LINKS--------------*/

.eventlinks {
	display: block;
	margin: 0;
}

.eventlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #fff;
}

.eventlinks li {
    float: left;
	font-size: normal;
}

.eventlinks li a {
    display: block;
    text-align: center;
	padding: 20px;
    text-decoration: none;
}

.material-icons {
	font-size: 16px !important;
	margin: 0 10px 0 0 !important;
	vertical-align: sub !important;
}

/*--LINKS--------------------*/

a:link
{
	text-decoration: none;
	color: #f92672;
}

a:visited
{
	text-decoration: none;
	color: #ae2672;
}

a:hover
{
	text-decoration: none;
	background-color: #f92672;
	color: #ffff00;
}

a:active
{
	text-decoration: none;
	background-color: #ae2672;
	color: #fff;
}