<form class="sub-panel pure-form pure-form-stacked" on-change="validate()">
    {{> content}}
</form>
<button class="pure-button" on-click="submit()" {{is_valid ? '' : 'disabled'}}>
    {{#if !is_submitting}}
        {{{buttonContents}}}
    {{else}}
        <i class="fa fa-circle-o-notch fa-spin" style="color: blue"></i> Submitting
    {{/if}}
</button>

<script>
    component.exports = {
        data: {
            is_submitting: false,

            get_error: function ( field_name ) {
                if ( this.get('validation_errors') && field_name in this.get('validation_errors') ) {
                    return this.get('validation_errors')[field_name];
                }
                else {
                    return false;
                }
            }
        },
        oninit: function() {
            // validate whenever form changes
            this.parent.on('change', function(changes) {
                for ( var change in changes ) {
                    if ( change.startsWith('form.') ) {
                        if ( 'validate' in this ) {
                            this.validate();
                        }
                    }
                }
            });
        },
        validate: function() {
            if ( 'validate' in this.parent ) {
                this.parent.validate();
            }
        },
        submit: function() {
            if ( !this.get('is_submitting') ) {
                if ( 'submit' in this.parent ) {
                    var that = this;

                    that.set('is_submitting', true);

                    var result = this.parent.submit();
                    result[0]
                    .end( function(error, response) {
                        that.set('is_submitting', false);

                        result[1](error, result);
                    });
                }
            }
        }
    };
</script>
